<div class="container main-container">
    <div class="row">
        <div class="col m12 ">
            <h1>Recuperacion de Contraseña</h1>
            <label >Ingresa tu correo electronico o usuario para restablecer tu contraseña</label>
<input id="email" type="email" class="validate" placeholder="Correo Electronico o Nombre de Usuario"> 
<button class="btn waves-effect waves-light send" type="button" name="action">Enviar
  <!-- <i class="material-icons right">send</i> -->
</button>
        </div>
    </div>

</div>
