<div class="container main-container">
    <div class="row">
        <div class="col m12 back">
            <h1>Recuperacion de Contraseña</h1>
            <form [formGroup]="recovery" (ngSubmit)="sendReset()">
            <label >Ingresa tu correo electronico para el restablecimiento de tu contraseña</label>
            <input [ngClass]="{'is-invalid': !recovery.controls['email'].valid}" 
                   formControlName="email" type="email" class="validate" placeholder="Correo Electronico"> 
            <div *ngIf="recovery.get('email').errors?.required" class="form-control-feedback">
                *El Correo es necesario
              </div>
              <div *ngIf="recovery.get('email').errors?.pattern" class="form-control-feedback">
                *Correo no válido
              </div>
            <button type="submit" class="btn btn-primary send" [disabled]="!recovery.valid">Enviar</button>
            </form>
        </div>
    </div>
</div>
