
<div class="modal fade" id="infoPad" aria-labelledby="info"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de padecimiento</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label>Nombre del padecimiento</label>
    <input type="text"  value="Nombre del padecimiento" disabled>

    <label>Categoria del padecimiento</label>
    <input type="text"  value="Categoria del padecimiento" disabled>

    <label>Descripcion del padecimiento</label>
    <textarea rows="10" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aliquam massa ex, mollis maximus urna ac, faucibus pretium velit. In hac habitasse platea 
        dictumst. Sed facilisis commodo viverra. Nullam tempor aliquam est nec sagittis. 
        Nullam a erat bibendum purus aliquam ornare. Donec vitae mauris id risus ultricies convallis vulputate et mi. 
        Vivamus convallis eros sed egestas sagittis. Nullam nec augue urna. Aenean nec tempus purus. 
        Phasellus scelerisque a metus ut cursus.</textarea>

      <label>Imagen</label><br>
      <img style="width:300px;height:200px;" src="../../../../assets/default-image.jpg">
    
      <br><br>
    <label>Sintomas</label>
    <input type="text"  value="Sintomas" disabled>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" #cerrar>Volver</button>
    </div>
    </div>
  </div>
</div>