<div class="myMod">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de padecimiento</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label>Nombre del padecimiento</label>
    <input type="text"  value="{{padecimiento.nombre_pad}}" disabled>

    <label>Categoria del padecimiento</label>
    <input type="text"  value="{{padecimiento.categoria}}" disabled>

    <label>Especializacion del padecimiento</label>
    <input type="text"  value="{{padecimiento.nombre_esp}}" disabled>

    <label>Descripcion del padecimiento</label>
    <textarea rows="10" disabled>{{padecimiento.descripcion}}</textarea>

    <div *ngIf="hasInfo">
      <label>Imagen</label><br>
      <img class="center" style="width:300px;height:200px;" [src]="url">
    </div>
    
    <div *ngIf="!hasInfo">
      <label>Imagen</label><br>
      <img class="center"style="width:300px;height:200px;" [src]="url">
    </div>
      <br><br>
    <label>Sintomas</label>
    <textarea rows="10" disabled>{{sintomasCadena}}</textarea>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
    </div>
</div>
    