<div class="container main-container">
    <div class="row">
        
        <div class="col m10 margin-color" *ngIf="!hasPregunta">
            <div class="center">
                <p>Bienvenido a la herramienta de diagnostico</p>
                <p>Para comenzar simplemente haga click en el siguiente botón</p>
            </div>

            <button class="btn" (click)="iniciarDiagnostico()">Comenzar</button>

        </div>
        <div class="col m12 margin-color" [hidden]="!hasPregunta">
            <h4>Sus sintomas: </h4>
            <h5>{{breadcrumb}}</h5>
            <h1>{{message}}</h1>
            
            <button type="button" [hidden]="hasResult" class="btn btn-danger btn-lg" (click)="responder('No')">No</button>

            <button type="button" [hidden]="hasResult" class="btn btn-primary btn-lg" (click)="responder('Si')">Si</button>
       
            <button *ngIf='user' routerLink="/record" expand="block"  class="btn btn-primary btn-lg" [hidden]="!hasResult" >Continuar</button>
            
        </div>
    </div>
    <a routerLink="home" routerLinkActive="active"><button type="button" class="btn btn-dark cancel">Volver</button></a>
    
</div>
