<div class="container main-container">
    <div class="row">
        
        <div class="col m10 margin-color" *ngIf="!hasPregunta">
            <div class="center">
                <p>Bienvenido a la herramienta de diagnostico</p>
                <p>Para comenzar simplemente haga click en el siguiente botón</p>
            </div>

            <button class="btn" (click)="iniciarDiagnostico()">Comenzar</button>

        </div>
        <div class="col m12 margin-color" [hidden]="!hasPregunta">
            <h4>Sus sintomas: </h4>
            <h5>{{breadcrumb}}</h5>
            <h4 *ngIf="!hasResult">{{descripcion}}</h4>
            <h1>{{message}}</h1>
            <ul *ngIf="hasResult">
                <h2>Esto debido a los siguientes sintomas: </h2>
                <li *ngFor="let sintoma of sintomasSeleccionados">
                  {{sintoma.desc}}
                </li>
            </ul>
            <div>
            <ul *ngIf="niveles.Medio.length>0">
                <h4>Sintomas destacados <i class="far fa-question-circle" title="Sintomas que pueden afectar su vida diaria"></i></h4>
                <li *ngFor="let niv of niveles.Medio">
                    <p>{{niv.sintoma}}</p>
                </li>
            </ul>
            <ul *ngIf="niveles.Bajo.length>0">
                    <h4>Sintomas de baja urgencia <i class="far fa-question-circle" title="Sintomas cuya persistencia por más de 3 días será necesario el checar con un médico"></i></h4>
                    <li *ngFor="let niv of niveles.Bajo">
                        <p>{{niv.sintoma}}</p>
                    </li>
            </ul>
            <ul *ngIf="niveles.Alto.length>0">
                <h4>Sintomas de baja urgencia <i class="far fa-question-circle" title="Sintomas que por su naturaleza o bien su persistencia se recomienda encarecidamente acudir con un médico"></i></h4>
                <li *ngFor="let niv of niveles.Alto">
                    <p>{{niv.sintoma}}</p>
                </li>
            </ul>
            <ul *ngIf="niveles.Severo.length>0">
                <h4>Sintomas de baja urgencia <i class="far fa-question-circle" title="Si presenta alguno de estos sintomas es sumamente necesario el acudir con un especialista con el fin de tratar dicho sintoma, por lo regular requieren estudios."></i></h4>
                <li *ngFor="let niv of niveles.Severo">
                    <p>{{niv.sintoma}}</p>
                </li>
            </ul>
            </div>
            <ul *ngIf="sintomasExtras.length>0">
                <h2>Sin embargo presento ciertos sintomas que pueden concordar con las siguientes enfermedades: </h2>
                <li *ngFor="let sints of sintomasExtras">
                  {{sints.padecimiento}} 
                  <p><ngb-progressbar type="success" [value]="sints.porcentaje" showValue="true"></ngb-progressbar></p>
                </li>
            </ul>
            <button type="button" [hidden]="hasResult" class="btn btn-danger btn-lg" (click)="responder('No')">No</button>

            <button type="button" [hidden]="hasResult" class="btn btn-primary btn-lg" (click)="responder('Si')">Si</button>
       
            <button *ngIf='user' routerLink="/record" expand="block"  class="btn btn-primary btn-lg" [hidden]="!hasResult" >Continuar</button>
            
        </div>
    </div>
    <a routerLink="home" routerLinkActive="active"><button type="button" class="btn btn-dark cancel">Volver</button></a>
    
</div>
