.main-container {
  margin: 50px auto;
}

.main-container div {
  border-style: dotted;
  border-color: red;
  border-radius: 10px;
}

.main-container h1, h3{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-container input {
  width: 60%;
  margin: 15px 20%;
}

.main-container label {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.send {
  background-color: #0d528b;
  color: white;
  margin: 0 45% 15px;
}

.send:hover {
  background-color: #559cd6;
}

.send:active {
  background-color: #04eef6;
}