.modal.open {
 display: block;
}

.modal-header {
  border-radius: 15px 15px 0 0;
  background-color: #2196f3;
  color: white;

}

.modal-footer {
  border-radius: 0 0 15px 15px;
  background-color: #2196f3;
  color: white;
  text-align: center;
}