<div class="myMod">
  <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de sintoma</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label>Nombre del sintoma</label>
    <input type="text"  value="{{sintoma.nombre_sint}}" disabled>

    <label>Categoria del sintoma</label>
    <input type="text"  value="{{sintoma.categoria_sint}}" disabled>

    <label>Palabra clave del sintoma</label>
    <input type="text"  value="{{sintoma.keyWord}}" disabled>

    <label>Descripcion del sintoma</label>
    <textarea rows="10" disabled>{{sintoma.descripcion}}</textarea>

    <div [hidden]="!compuesto">
    <label>Componentes</label>
    <input type="text"  value="{{sintoma.composicion}}" disabled>
    </div>
</div>

<div class="modal-footer" >
  <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
</div>
</div>