
<div class="container main-container">
    <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Nombre del usuario" [(ngModel)]="mySearch" (keyup)="showResults($event)" (focusout)="focusLost()">
            <span><i *ngIf="mySearch.length!=0" class="fas fa-trash delety" (click)="remove()"></i></span>
            <ul *ngIf="searching === true">
                <li *ngFor="let usuario of users | search: 'fullname' : mySearch" (click)="selection(usuario.fullname)">
                    <span>{{usuario.fullname}}</span>
                </li>
            </ul>
    </div>
    <div class="tab">
        <button name="Doctor" class="tablinks" (click)="changeTab('Doctor')" id="defaultOpen">Doctores</button>
        <button name="Paciente" class="tablinks" (click)="changeTab('Paciente')">Pacientes</button>
    </div>
    
    <div id="Doctor" class="tabcontent">
        <table>
        <tr>
            <th (click)="sorting('fullname')" class="ordering">Nombre
                <span class="fas" *ngIf="key == 'fullname'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>                
            </th>
            <th>Nickname</th>
            <th>Email</th>
            <th (click)="sorting('createdAt')" class="ordering">Creación
                <span class="fas" *ngIf="key == 'createdAt'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>                
            </th>
            <th>Enabled</th>
        </tr>
        <tr ng-if="doctors.length>0" *ngFor="let doctor of users | orderBy : key : reversa : true | ListFilter: 'fullname' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
        <a routerLink="info/{{doctor.hash_id}}"><th>{{doctor.fullname}}</th></a>
                <th>{{ doctor.nickname}}</th>
                <th>{{ doctor.email}}</th>
                <th>{{ doctor.createdAt}}</th>
                <th>{{ doctor.enabled}}</th>
        </tr>
        <tr *ngIf="doctors.length==0">
            <th colspan="5">No hay registro de doctores en el sistema</th>
        </tr>
        </table>
    </div>

    <div id="Paciente" class="tabcontent">
        <table>
            <tr>
                <th (click)="sorting('fullname')" class="ordering">Nombre
                    <span class="fas" *ngIf="key == 'fullname'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>                
                </th>
                <th>Nickname</th>
                <th>Email</th>
                <th (click)="sorting('createdAt')" class="ordering">Creación
                    <span class="fas" *ngIf="key == 'createdAt'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>                
                </th>
                <th>Enabled</th>
            </tr>
            <tr ng-if="patients.length>0" *ngFor="let patient of users | orderBy : key : reversa : true | ListFilter: 'fullname' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
                <a routerLink="info/{{patient.hash_id}}"><th>{{patient.fullname}}</th></a>
                    <th>{{ patient.nickname}}</th>
                    <th>{{ patient.email}}</th>
                    <th>{{ patient.createdAt}}</th>
                    <th>{{ patient.enabled}}</th>
            </tr>
            <tr *ngIf="patients.length==0">
                    <th colspan="5">No hay registro de pacientes en el sistema</th>
            </tr>
        </table>
    </div>

    <pagination-controls (pageChange)="pagina = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    autoHide="true"></pagination-controls>



