<div class="search">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Nombre del sintoma" [(ngModel)]="myFilter" (ngModelChange)="filtering()" (keyup)="showResults($event)">
    <span><i *ngIf="myFilter.length!=0" class="fas fa-trash delety" (click)="remove()"></i></span>
    <ul *ngIf="searching === true">
        <li *ngFor="let sint of sintomas | search: 'nombre_sint' : myFilter" (click)="selection(sint.nombre_sint)">
            <span>{{sint.nombre_sint}}</span>
        </li>
    </ul>
</div>

<table>
        <tr>
            <th (click)="sorting('nombre_sint')">Sintoma
                <span class="fas" *ngIf="key == 'nombre_sint'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>    
            </th>
            <th>Descripcion</th>
            <th (click)="sorting('categoria_sint')">Categoria
                <span class="fas" *ngIf="key == 'categoria_sint'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>    
            </th>
            <th>Acciones</th>
        </tr>
        <tr ng-if="sintomas.length>0" *ngFor="let sintoma of sintomas | orderBy : key : reversa : true | ListFilter: 'nombre_sint' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
                <th>{{sintoma.nombre_sint}}</th>
                <th>{{ sintoma.descripcion}}</th>
                <th>{{ sintoma.categoria_sint}}</th>
                <th style="text-align:center; width: 20%;"><a routerLinkActive="active-link" routerLink="/sintomas/modificar/{{sintoma.hashId}}"><button class="btn btn-info btn-sm" style="float:left">Modificar</button></a>
                <button class="btn btn-success btn-sm" (click)="openModal(content,sintoma)" >Detalle</button></th>
        </tr>
        <tr *ngIf="sintomas.length==0">
            <th colspan="4">No hay registro de sintomas en el sistema</th>
        </tr>
</table>
<pagination-controls (pageChange)="pagina = $event"
                     previousLabel="Anterior"
                     nextLabel="Siguiente"
                     autoHide="true"></pagination-controls>
