<table>
        <tr>
            <th>Sintoma</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
        <tr ng-if="sintomas.length>0" *ngFor="let sintoma of sintomas">
                <th>{{sintoma.nombre_sint}}</th>
                <th>{{ sintoma.descripcion}}</th>
                <th>{{ sintoma.categoria_sint}}</th>
                <th style="text-align:center; width: 20%;"><a routerLinkActive="active-link" routerLink="/sintomas/modificar"><button class="btn btn-info btn-sm" style="float:left">Modificar</button></a>
                <a  routerLinkActive="active-link" data-toggle="modal" data-target="#info"><button class="btn btn-success btn-sm" >Detalle</button></a></th>
        </tr>
        <tr *ngIf="sintomas.length==0">
            <th colspan="4">No hay registro de sintomas en el sistema</th>
        </tr>
</table>

<app-info-sintomas></app-info-sintomas>

