<div class="container main-container">

  <div class="row">
    <div class="col m12 s6">
      <h1>Agregar Padecimiento</h1>
      <hr>
      <form [formGroup]="padecimiento" (ngSubmit)="guardar()">

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !padecimiento.controls['nombre'].valid}" formControlName="nombre"
              class="form-control is-valid" type="text" placeholder="Nombre del Padecimiento">
            <div *ngIf="padecimiento.get('nombre').errors?.required" class="form-control-feedback">
              <label>
                *El Nombre es necesario
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !padecimiento.controls['descripcion'].valid}" formControlName="descripcion"
              class="form-control is-valid" type="text" placeholder="Descripcion">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="categoria" name="categoria" id="categoria" class="form-control">
              <option value="">Seleccione una Categoria</option>
              <option *ngFor="let item of categorias" [value]="item.nombre">{{item.nombre}}</option>
            </select>
            <div *ngIf="padecimiento.get('categoria').errors?.required" class="form-control-feedback">
              <label>

                *Seleccione la categoria correspondiente
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <label>Imagen</label>
            <input formControlName="imagen" class="form-control is-valid descripcion" type="file"
            (change)="createFormData($event)">
          </div>
        </div>

        <div class="form-row">
            <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll;justify-content:center">
            <div class="col" cdkDropList [cdkDropListData]="sintomas" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
              <legend style="margin-left: 42%">Sintomas</legend>
              <div *ngFor="let sint of sintomas" class="list" cdkDrag>{{sint.nombre_sint}}</div>
            </div>
            </div>
            <div class="col" cdkDropList [cdkDropListData]="selectedSints" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
              <legend style="margin-left: 42%">Sintomas Seleccionados</legend>
              <div *ngFor="let selected of selectedSints" class="list" cdkDrag>{{selected.nombre_sint}}</div>
            </div>
          </div>

        <button type="submit" class="btn btn-outline-primary boton" [disabled]="!padecimiento.valid">
          Guardar
        </button>

      </form>
    </div>
  </div>
</div>
