<div class="container main-container">

  <div class="row">
    <div class="col m12 s6">
      <h1>Agregar Padecimiento</h1>
      <hr>
      <form [formGroup]="padecimiento" (ngSubmit)="guardar()">

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !padecimiento.controls['nombre'].valid}" formControlName="nombre"
              class="form-control is-valid" type="text" placeholder="Nombre del Padecimiento">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.nombrePad">
                  <div class="form-control-feedback" *ngIf="padecimiento.get('nombre').hasError(validation.type) 
                  && (padecimiento.get('nombre').dirty || padecimiento.get('nombre').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !padecimiento.controls['descripcion'].valid}" formControlName="descripcion"
              class="form-control is-valid descripcion" type="text" placeholder="Descripcion">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.descripcion">
                  <div class="form-control-feedback" *ngIf="padecimiento.get('descripcion').hasError(validation.type) 
                  && (padecimiento.get('descripcion').dirty || padecimiento.get('descripcion').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="categoria" name="categoria" id="categoria" class="form-control">
              <option value="">Seleccione una Categoria</option>
              <option *ngFor="let item of categorias" [value]="item.nombre">{{item.nombre}}</option>
            </select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of mensajes_error.categoria">
                <div class="form-control-feedback" *ngIf="padecimiento.get('categoria').hasError(validation.type) 
                && (padecimiento.get('categoria').dirty || padecimiento.get('categoria').touched)">
                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                </div>
              </ng-container>
          </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="especializacion" name="especializacion" id="especializacion" class="form-control">
              <option value="">Seleccione una Especialidad</option>
              <option *ngFor="let item of especializaciones" [value]="item.id">{{item.nombre_esp}}</option>
            </select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of mensajes_error.especializacion">
                <div class="form-control-feedback" *ngIf="padecimiento.get('especializacion').hasError(validation.type) 
                && (padecimiento.get('especializacion').dirty || padecimiento.get('especializacion').touched)">
                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                </div>
              </ng-container>
          </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <label>Imagen</label>
            <input formControlName="imagen" class="form-control is-valid descripcion" type="file"
            (change)="createFormData($event)" accept="image/jpeg">
          </div>
        </div>

        <div class="form-row">
            <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll;justify-content:center">
            <div class="col" cdkDropList [cdkDropListData]="sintomas" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
              <legend style="margin-left: 42%">Sintomas</legend>
              <div *ngFor="let sint of sintomas" class="list" cdkDrag>{{sint.nombre_sint}}</div>
            </div>
            </div>
            <div class="col" cdkDropList [cdkDropListData]="selectedSints" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
              <legend style="margin-left: 42%">Sintomas Seleccionados</legend>
              <div *ngFor="let selected of selectedSints" class="list" cdkDrag>{{selected.nombre_sint}}</div>
            </div>
          </div>

        <button type="submit" class="btn btn-outline-primary boton" [disabled]="!padecimiento.valid">
          Guardar
        </button>

      </form>
    </div>
  </div>
</div>
