

            <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Nombre del medico" [(ngModel)]="myFilter" (ngModelChange)="filtering()">
            </div>
      
        <table>
            <tr>
                <th>Nombre</th>
                <th>Especializaciones</th>
                <th>Direccion</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
            <tr ng-if="medicos.length>0" *ngFor="let medico of medicos | orderBy : key : reversa : true | ListFilter: 'nombres' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
                <th>{{medico.nombres +" " + medico.apellidos}}</th>
                <th>{{ especializaciones(medico.especializacions)}}</th>
                <th>{{ medico.direccion}}</th>
                <th>{{ medico.telefono}}</th>
                <th><button class="btn btn-success btn-sm" (click)="openModal(content,medico.hash_id)" >Detalle</button></th>
        </tr>
        <tr *ngIf="medicos.length==0">
            <th colspan="5">No existen registros de médicos en el sistema</th>
        </tr>
        </table>
        <pagination-controls (pageChange)="pagina = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        autoHide="true"></pagination-controls>

