.main-container {
  position: relative;
  z-index: 900;
  margin-top: 20px;
  text-align: left;
  padding: 25px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(124, 131, 132);
}