
<div class="main-container">
    <div class="back-img">
        <div class="row">
            <div class="col m3 main-container">
                <div class="header-content">
                    
                    <h1>Bienvenido a nuestra Pagina</h1>
                    <h3>Somos el mejor servicio de diagnosticos medicos en linea</h3>
                </div>
            </div>
            <div class="col m3">
            </div>
            <div class="col m3">
            </div>
        </div>
    </div>
<div class="main-container">

    <div class="row">
        <div class="col m12">
            <img class="imagen" src="../../../assets/slogan.png" alt="">
        </div>
    </div>
</div>

    <div class="row">
        <div class="contenedor">

    <div class="col m4 offers">
      <h1>Inserte Imagen chingona</h1>
      Ofrecemos esto:
      <p>lo mejor de lo mejor en todo de todo porque si</p>
    </div>
    <div class="col m4 offers">
      <h1>Inserte Imagen chingona</h1>
      Ofrecemos esto:
      <p>lo mejor de lo mejor en todo de todo porque si</p>
    </div>
    <div class="col m4   offers">
      <h1>Inserte Imagen chingona</h1>
      Ofrecemos esto:
      <p>lo mejor de lo mejor en todo de todo porque si</p>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="row">
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/29684080_10208748268782587_4008337989166956544_n.jpg?_nc_cat=105&_nc_oc=AQmvLu8ZhMhRJVoFvcoVMAU37We74u1yPnP9Rwjk3mfkjxz43BLc2mn27EDv5jYQWHk&_nc_ht=scontent.fgdl5-1.fna&oh=a81150f4d5887ec1939a8948e74ac5ef&oe=5DA6C26E">
          <span class="card-title"> Hola </span>
        </div>
        <div class="card-content">
          <p> Belleza</p>
          <p> Belleza2 </p>
        </div>
        <div class="card-action">
          Comprobado por mi: poner algo chido </div>
      </div>
    </div>
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/29684080_10208748268782587_4008337989166956544_n.jpg?_nc_cat=105&_nc_oc=AQmvLu8ZhMhRJVoFvcoVMAU37We74u1yPnP9Rwjk3mfkjxz43BLc2mn27EDv5jYQWHk&_nc_ht=scontent.fgdl5-1.fna&oh=a81150f4d5887ec1939a8948e74ac5ef&oe=5DA6C26E">
          <span class="card-title"> Hola </span>
        </div>
        <div class="card-content">
          <p> Belleza</p>
          <p> Belleza2 </p>
        </div>
        <div class="card-action">
          Comprobado por mi: poner algo chido </div>
      </div>
    </div>
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/29684080_10208748268782587_4008337989166956544_n.jpg?_nc_cat=105&_nc_oc=AQmvLu8ZhMhRJVoFvcoVMAU37We74u1yPnP9Rwjk3mfkjxz43BLc2mn27EDv5jYQWHk&_nc_ht=scontent.fgdl5-1.fna&oh=a81150f4d5887ec1939a8948e74ac5ef&oe=5DA6C26E">
          <span class="card-title"> Hola </span>
        </div>
        <div class="card-content">
          <p> Belleza</p>
          <p> Belleza2 </p>
        </div>
        <div class="card-action">
          Comprobado por mi: poner algo chido </div>
      </div>
    </div>
  </div>
</div>

<div class="main-container">

    <div class="row">
        <div class="col m12 offers">
            <h1>Comprobado por nuestros medicos y pacientes satishechos</h1>
            <img class="imagen" src="../../../assets/doctores.jpg" alt="">
        </div>
    </div>
</div>

</div>

