
<div class="main-container">
    <div class="back-img">
        <div class="row">
            <div class="col m3 main-container">
                <div class="header-content">
                    
                    <h1>Bienvenido a nuestra Pagina</h1>
                    <h3>Somos el mejor servicio de diagnosticos medicos en linea</h3>
                </div>
            </div>
            <div class="col m3">
            </div>
            <div class="col m3">
            </div>
        </div>
    </div>
<div class="main-container">

    <div class="row">
        <div class="col m12">
            <img class="imagen" src="../../../assets/slogan.png" alt="">
        </div>
    </div>
</div>

    <div class="row">
        <div class="contenedor">

    <div class="col m4 offers">
      <h1></h1>
      Ofrecemos esto:
      <p>Consultas rápidas y efectivas</p>
    </div>
    <div class="col m4 offers">
      <h1></h1>
      Ofrecemos esto:
      <p>Historiales Médicos</p>
    </div>
    <div class="col m4   offers">
      <h1></h1>
      Ofrecemos esto:
      <p>Noticias sobre medicina</p>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="row">
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="">
          <span class="card-title">  </span>
        </div>
        <div class="card-content">
          <p> Consultas</p>
          <p> La cuales son actualizadas diariamente </p>
        </div>
      </div>
    </div>
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="">
          <span class="card-title">  </span>
        </div>
        <div class="card-content">
          <p> Historiales</p>
          <p> Checa tu historial de consultas en tu perfil </p>
        </div>
      </div>
    </div>
    <div class="col s12 m7 back">
      <div class="card">
        <div class="card-image">
          <img
            src="">
          <span class="card-title">  </span>
        </div>
        <div class="card-content">
          <p> Noticias</p>
          <p> Noticias del momento sobre el mundo de la medicina </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-container">

    <div class="row">
        <div class="col m12 offers">
            <h1>Comprobado por nuestros medicos y pacientes satisfechos</h1>
            <img class="imagen" src="../../../assets/doctores.jpg" alt="">
        </div>
    </div>
</div>

</div>

