.medic {
  width: 100%;
  height: 80%;
}

.back-img {
  display: table;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  background-size: 100% 140%;
  background-position: top;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 450px;
  overflow: hidden;
  background-image: url('../../../assets/medic1.jpg') !important;

}

.back-img h1, h3{
  color: white;
  font-family: EuclidCircular,
    sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: .02em;
}

.header-content {
  max-width: 700px;
  margin: 80px auto 70px;
}

.imagen {
    width: 100%;
    height: 60%;
    margin-top: 50px;
}
.contenedor {
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}
.offers h1{
    text-align: center;
    color: Red;
    font-family: EuclidCircular,
    sans-serif;
    font-size: 30px;
}

.offers {
    font-size: 30px;
}

.main-container {
  z-index: 900;
  margin: 30px;
}

.back {
  z-index: 900;
}

.description {
  text-align: center;
}

.card-image span {
  font-weight: bold;
  color: rgb(204, 0, 0);
  text-align: center;
}

.card-content {
  text-align: center;
  font-size: 20px;
}

.card-action {
  text-align: center;
}
