<div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Nombre del padecimiento" [(ngModel)]="myFilter" (ngModelChange)="filtering()">
</div>
<table>
        <tr>
            <th (click)="sorting('nombre_pad')" >Padecimiento
                <span class="fas" *ngIf="key == 'nombre_pad'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>    
            </th>
            <th>Descripcion</th>
            <th (click)="sorting('categoria')">Categoria
                <span class="fas" *ngIf="key == 'categoria'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>     
            </th>
            <th>Acciones</th>
        </tr>
        <tr ng-if="padecimientos.length>0" *ngFor="let padecimiento of padecimientos | orderBy : key : reversa : true | ListFilter: 'nombre_pad' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
                <th>{{padecimiento.nombre_pad}}</th>
                <th>{{ padecimiento.descripcion}}</th>
                <th>{{ padecimiento.categoria}}</th>
                <th style="text-align:center; width: 20%;"><a routerLinkActive="active-link" routerLink="/padecimientos/modificar/{{padecimiento.hashId}}"><button class="btn btn-info btn-sm" style="float:left">Modificar</button></a>
                <button class="btn btn-success btn-sm" (click)="openModal(content,padecimiento.hashId)" >Detalle</button></th>
        </tr>
        <tr *ngIf="padecimientos.length==0">
            <th colspan="4">No hay registro de padecimientos en el sistema</th>
        </tr>
</table>
<pagination-controls (pageChange)="pagina = $event"
previousLabel="Anterior"
nextLabel="Siguiente"
autoHide="true"></pagination-controls>
