<div class="main-container">
  <div class="row">
    <div class="col-sm-3">
      <app-submenu></app-submenu>
    </div>

    <div class="col-sm-8 margin">

      <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Nombre del padecimiento" [(ngModel)]="myFilter" (ngModelChange)="filtering()" (keyup)="showResults($event)">
            <ul *ngIf="searching === true">
              <li *ngFor="let historial of historiales | search: 'padecimiento_final' : myFilter" (click)="selection(historial.padecimiento_final)">
                  <span>{{historial.padecimiento_final}}</span>
              </li>
          </ul>
      </div>
    <table>
      <tr>
          <th (click)="sorting('nombre_pad')" class="ordering">Enfermedad
              <span class="fas" *ngIf="key == 'padecimiento_final'" [ngClass]="{'fa-chevron-up':reversa==true,'fa-chevron-down':reversa==false}"></span>    
          </th>
          <th>Detalles</th>
          <th>Fecha Consulta</th>
          <th>Acciones</th>
      </tr>
      <tr ng-if="historiales.length>0" *ngFor="let historial of historiales | orderBy : key : reversa : true | ListFilter: 'padecimiento_final' : myFilter | paginate:{itemsPerPage: 10, currentPage:pagina}">
              <th>{{historial.padecimiento_final}}</th>
              <th>{{ historial.detalles}}</th>
              <th>{{ historial.fecha_consulta}}</th>
              <th><button class="btn btn-success btn-sm" (click)="openModal(content,historial.hashId)" >Detalle</button></th>
      </tr>
      <tr *ngIf="historiales.length==0">
          <th colspan="4">No hay registros de expedientes en el sistema</th>
      </tr>
</table>
<pagination-controls (pageChange)="pagina = $event"
previousLabel="Anterior"
nextLabel="Siguiente"
autoHide="true"></pagination-controls>
    </div>
    </div>
  </div>

