<div class="main-container">
  <div class="row">
    <div class="col-sm-3">
      <app-submenu></app-submenu>
    </div>

    <div class="col-sm-8 margin">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Nombre de enfermedad/medico" />
      </div>

      <table>
        <tr>
          <th>Enfermedad</th>
          <th>Medico</th>
          <th>Tratamiento</th>
          <th>Fecha de Consulta</th>
          <th>Detalles</th>
        </tr>
        <tr>
          <th>Cancer</th>
          <th>Pedro Fernandez</th>
          <th>Morir Hoy</th>
          <th>21/01/2001</th>
          <a routerLink="/recordDescription">
            <i class="fas fa-info-circle"></i>
          </a>
        </tr>
      </table>
    </div>
  </div>
</div>
