.margin {
  width: 25%;
  position: fixed;
  text-align: center;
  padding-left: 3%;
  margin: 5px;
  border-style: outset;
  border-radius: 15px;
  border-color: blue;
}
.sidenavv {
  width: 100%;
}

.sidenavv div {
  margin-top: 20px;
  padding: 0px 0px;
  width: 100%;
  border-style: double;
  border-color: black;
  background-color: #00acee;
}

.sidenavv a {
  font-size: 30px;
  color: white;
}

.sidenavv div:hover,
a:hover {
  background-color: #036186;
  color: red;
}

.active-link {
  background-color: #0d528b;
}
