<div class="container">
    <div class="main-container">
      <h4>Formulario</h4>
      <hr>
      <form [formGroup]="forma" (ngSubmit)="guardarCambios()">

        <div formGroupName="nombrecompleto">

          <div class="form-group row">
            <div class="col-8">

              <input [ngClass]="{'is-invalid': !forma.get('nombrecompleto.nombre').valid}"
                formControlName="nombre" class="form-control is-valid" type="text" placeholder="Nombre">
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of mensajes_error.nombre">
                    <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').hasError(validation.type) 
                    && (forma.get('nombrecompleto.nombre').dirty || forma.get('nombrecompleto.nombre').touched)">
                    <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-8">

              <input [ngClass]="{'is-invalid': !forma.get('nombrecompleto.apellido').valid}"
                formControlName="apellido" class="form-control is-valid" type="text" placeholder="Apellido">
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of mensajes_error.apellido">
                    <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.apellido').hasError(validation.type) 
                    && (forma.get('nombrecompleto.apellido').dirty || forma.get('nombrecompleto.apellido').touched)">
                    <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-8">

            <input [ngClass]="{'is-invalid': !forma.controls['fechanacimiento'].valid}"
              formControlName="fechanacimiento" class="form-control is-valid" type="date" placeholder="Fecha">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.fechanacimiento">
                  <div class="form-control-feedback" *ngIf="forma.get('fechanacimiento').hasError(validation.type) 
                  && (forma.get('fechanacimiento').dirty || forma.get('fechanacimiento').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['correo'].valid}" formControlName="correo"
              class="form-control is-valid" type="email" placeholder="Correo electrónico">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.correo">
                  <div class="form-control-feedback" *ngIf="forma.get('correo').hasError(validation.type) 
                  && (forma.get('correo').dirty || forma.get('correo').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['username'].valid}" formControlName="username"
              class="form-control is-valid" type="text" placeholder="Nombre de Usuario">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.nickname">
                  <div class="form-control-feedback" *ngIf="forma.get('username').hasError(validation.type) 
                  && (forma.get('username').dirty || forma.get('username').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['telefono'].valid}" formControlName="telefono"
              class="form-control is-valid" type="text" placeholder="Numero telefonico">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.telefono">
                  <div class="form-control-feedback" *ngIf="forma.get('telefono').hasError(validation.type) 
                  && (forma.get('telefono').dirty || forma.get('telefono').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['direccion'].valid}" formControlName="direccion"
              class="form-control is-valid" type="text" placeholder="Domicilio">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.direccion">
                  <div class="form-control-feedback" *ngIf="forma.get('direccion').hasError(validation.type) 
                  && (forma.get('direccion').dirty || forma.get('direccion').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">

          <div class="col-md-8">
            <p>
              <label *ngFor="let s of sexos, let i = index">
                <input formControlName="genero" class="with-gap myColor" name="genero" type="radio" checked
                  [value]="s" />
                <span class="space"> {{s}} </span>
              </label>
            </p>
          </div>
        </div>
        
        <div class="form-row">
          <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll;justify-content:center">
          <div class="col" cdkDropList [cdkDropListData]="especializaciones" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
            <legend>Especializaciones</legend>
            <div *ngFor="let espe of especializaciones" class="list" cdkDrag>{{espe.nombre_esp}}</div>
          </div>
          </div>
          <div class="col" cdkDropList [cdkDropListData]="selectedEspe" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
            <legend>Especializaciones Seleccionadas</legend>
            <div *ngFor="let selected of selectedEspe" class="list" cdkDrag>{{selected.nombre_esp}}</div>
          </div>
        </div>

        <div formGroupName="password_validations">
          <div class="form-group row">
            <div class="col-md-8">

              <input [ngClass]="{'is-invalid': !forma.get('password_validations.password1').valid}" formControlName="password1"
                class="form-control is-valid" type="password" placeholder="Contraseña">
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of mensajes_error.password">
                    <div class="form-control-feedback" *ngIf="forma.get('password_validations.password1').hasError(validation.type) 
                      && (forma.get('password_validations.password1').dirty || forma.get('password_validations.password1').touched)">
                      <i class="fas fa-exclamation-circle"></i>{{validation.message}}
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-md-8">

              <input [ngClass]="{'is-invalid': !forma.get('password_validations.password2').valid}" formControlName="password2"
                class="form-control is-valid" type="password" placeholder="Repetir Contraseña">
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of mensajes_error.passwordVerif">
                    <div class="form-control-feedback" *ngIf="forma.get('password_validations.password2').hasError(validation.type) 
                      && (forma.get('password_validations.password2').dirty || forma.get('password_validations.password2').touched)">
                      <i class="fas fa-exclamation-circle"></i>{{validation.message}}
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of mensajes_error.same_password">
            <div class="form-control-feedback" *ngIf="forma.get('password_validations').hasError(validation.type) 
             && (forma.get('password_validations.password2').dirty || forma.get('password_validations.password2').touched)">
             <i class="fas fa-exclamation-circle"></i>{{validation.message}}
            </div>
          </ng-container>
      </div>

        <div class="form-group row center">
          <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary boton" [disabled]="!forma.valid">
              Guardar
            </button>
          </div>
        </div>

      </form>
    </div>
</div>