.main-container h1{
    color: red;
    text-align: center;
}

.answer {
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.answer a {
    height: 60px;
    width: 100%;
    background-color: #2196f3;
    color: white;
    font-size: 25px;
}

.answer a:hover {
    background-color: #0287a8;
}
.answer p {
    height: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #0287a8;
    font-size: 20px;
}