<!-- Modal -->
<div class="modal fade trans" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="email" placeholder="Correo electronico o Nombre de Usuario">
        <input class="form-control" type="password" placeholder="Contraseña">
        <br>
        <a routerLink="recovery" data-dismiss="modal">Olvidaste tu Contraseña?</a>
        <a routerLink="registro" data-dismiss="modal">Crea tu Cuenta</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary send">Iniciar Sesion</button>
      </div>
    </div>
  </div>
</div>
