<div class="col-sm-12">
    <div class="form-group format">
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la enfermedad">
        <label for="">Nombre de la Enfermedad</label>
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Descripción de la enfermedad">
        <label for="">Descripción de la Enfermedad</label>
        <ul>
            <li>Sintoma 1</li>
            <li>Sintoma 2</li>
            <li>Sintoma 3</li>
            <li>Sintoma 4</li>
            <li>Sintoma 5</li>
        </ul>
        <label for="">Sintomas Comunes</label>
    </div>
</div>
