<div class="container main-container">
    <div class="split left">
            <div class= "card">
                <div class="card-header bg-primary text-white">Padecimientos</div>
                <a class="nav-link" routerLinkActive="active-link" routerLink="/padecimientos">Padecimientos</a>
                <a class="nav-link" routerLinkActive="active-link" routerLink="/registro" >Agregar Padecimiento</a>     
            </div>
    </div>

    <div class="split right">
            <div class= "card">
                <div class="card-header bg-primary text-white">Sintomas</div>
                <a class="nav-link" routerLinkActive="active-link" routerLink="/sintomas">Sintomas</a>
                <a class="nav-link" routerLinkActive="active-link" routerLink="/sintomas/add" >Agregar Sintoma</a>     
            </div>
    </div>
</div>