<div class="col-sm-12 format">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder="Nombre del Paciente"
    />
    <label for="">Nombre del Paciente</label>
    <input
      type="date"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder="Fecha de Consulta"
    />
    <label for="">Fecha de Consulta</label>
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder="Recomendaciones Medicas"
    /><label for="">Recomendaciones Medicas</label
        ><input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="Medico o Especialita Recomendado"
        />
        <label for="">Medico o Especialista Recomendado</label>
  </div>
  <button type="button" class="btn btn-outline-primary boton">
      Volver al expediente
    </button>
</div>
