<div class="container main-container">
    
      <div class="row">
        <div class="col m12 s6">
          <h1>Modificar Padecimiento</h1>
          <hr>
          <form [formGroup]="modify" (ngSubmit)="guardar()">
    
            <div class="form-group row">
              <div class="col-md-8">
                <input [ngClass]="{'is-invalid': !modify.controls['nombre'].valid}" formControlName="nombre"
                  class="form-control is-valid" type="text" placeholder="Nombre del padecimiento a modificar">
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of mensajes_error.nombrePad">
                      <div class="form-control-feedback" *ngIf="modify.get('nombre').hasError(validation.type) 
                      && (modify.get('nombre').dirty || modify.get('nombre').touched)">
                      <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                      </div>
                    </ng-container>
                </div>
              </div>
            </div>
    
            <div class="form-group row">
                <div class="col-md-8">
                  <input formControlName="descripcion" [ngClass]="{'is-invalid': !modify.controls['descripcion'].valid}" type="text"
                  placeholder="Descripcion del sintoma a modificar" class="form-control is-valid descripcion">
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of mensajes_error.descripcion">
                      <div class="form-control-feedback" *ngIf="modify.get('descripcion').hasError(validation.type) 
                      && (modify.get('descripcion').dirty || modify.get('descripcion').touched)">
                      <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                      </div>
                    </ng-container>
                </div>
                </div>
              </div>
    
              <div class="form-group row">
                  <div class="col-md-8">
                    <select formControlName="categoria" name="categoria" id="categoria" class="form-control">
                      <option value="">Seleccione una Categoria</option>
                      <option *ngFor="let item of categorias" [value]="item.nombre">{{item.nombre}}</option>
                    </select>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of mensajes_error.categoria">
                        <div class="form-control-feedback" *ngIf="modify.get('categoria').hasError(validation.type) 
                        && (modify.get('categoria').dirty || modify.get('categoria').touched)">
                        <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                        </div>
                      </ng-container>
                  </div>
                  </div>
                </div>
    
            <div  *ngIf="hasInfo" >
                <label>Imagen Actual</label><br>
                <img class="center" style="width:300px;height:200px;" [src]="'data:image/jpg;base64,' + urlImage" >
            </div>
              
            <div *ngIf="!hasInfo" >
                <label>Imagen Actual</label><br>
                <img class="center" style="width:300px;height:200px;" [src]="urlImage" >
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <label>Imagen</label>
                <input formControlName="imagen" class="form-control is-valid descripcion" type="file" (change)="createFormData($event)" accept="image/jpeg" >
              </div>
            </div>
    
            <div class="form-row">
              <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll" >
                <div class="col" cdkDropList [cdkDropListData]="sintomas" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
                  <legend style="margin-left: 42%">Sintomas</legend>
                  <div *ngFor="let sint of sintomas" class="list" cdkDrag>{{sint.nombre_sint}}</div>
                </div>
              </div>
                <div class="col" cdkDropList [cdkDropListData]="selectedSints" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                  <legend style="margin-left: 42%">Sintomas Seleccionados</legend>
                  <div *ngFor="let selected of selectedSints" class="list" cdkDrag>{{selected.nombre_sint}}</div>
                </div>
              </div>
    
            <a routerLink="listar" routerLinkActive="active"><button type="button" class="btn btn-secondary cancel">Volver</button></a>    

            <button type="submit" class="btn btn-outline-primary boton" [disabled]="!modify.valid">
              Guardar
            </button>
    
          </form>
        </div>
      </div>
</div>