.margin {
  text-align: center;
  padding: 50px;
  margin: 40px 2%;
  border-style: double;
  border-radius: 15px;
  border-color: red;
}
.profile-pic {
    width: 70%;
    height: auto;
}
.boton {
    margin-top: 15px;
    background-color: #00acee !important;
    color: white !important;
}

.color {
    margin: 0 2%;
    height: 100%;
    width: 100%;
    border-style: double;
    border-radius: 15px;
    border-color: red;
}