<div class="main-container">
    <div class="row">
        <div class="col-sm-3 margin">
            <h1>SubMenu</h1>
        </div>
        <div class="col-sm-8 margin">
            <div class="row">
                <div class="col-sm-4">
                    <a href="../../../assets/profile-pic.jpg">
                        <img class="profile-pic" src="../../../assets/profile-pic.jpg" alt="profile-pic">
                    </a>
                    <h2>Imagen de Perfil</h2>
                    <input type="file" name="" id="" class="form-control is-invalid">
                    <button type="file" class="btn btn-outline-primary boton">
                      Cambiar Foto
                    </button>
                </div>
                <div class="col-sm-7 color">
                    <h1>Datos del Usuario</h1>
                  Informacion del Usuario
              </div>
            </div>
        </div>
    </div>
</div>
