<nav class="navbar navbar-expand-lg navbar-dark menu">
  <a class="navbar-brand titulo" routerLink="home">Doctor Web</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mod-color" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="diagnostico">Diagnostico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="tratamiento">Tratamiento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="about">Conocenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="faq">FAQ</a>
      </li>
      <li class="nav-item hidden">
        <a class="nav-link" routerLinkActive="active-link" data-toggle="modal" data-target="#exampleModal">Login</a>
      </li>
      <li class="nav-item hidden">
        <a class="nav-link" routerLinkActive="active-link" routerLink="registro">Registrate</a>
      </li>
      
    </ul>
<button class="btn waves-effect waves-light boton" type="button" name="action" routerLink="registro">Registrate</button>
<button class="btn waves-effect waves-light boton" type="button" name="action" data-toggle="modal"
  data-target="#exampleModal">Login</button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade trans" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="email" placeholder="Correo electronico o Nombre de Usuario">
        <input class="form-control" type="password" placeholder="Contraseña">
        <br>
        <a href="#">Olvidaste tu Contraseña?</a>
        <a href="#">Crea tu Cuenta</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary send">Iniciar Sesion</button>
      </div>
    </div>
  </div>
</div>