<div class="main-container">
  <div class="row">
    <div class="col-sm-3">
      <app-submenu></app-submenu>
    </div>

    <div class="col-sm-8 margin">

      <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Nombre de medico/especialidad">
    </div>
      
        <table>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Direccion</th>
                <th>Teléfono</th>
            </tr>
            <tr>
                    <th>Pedro Fernandez</th>
                    <th>Cancerologia</th>
                    <th>Mi Casa</th>
                    <th>3356895174</th>
                    </tr>
        </table>
    </div>
      
    </div>
  </div>
