<div class="container">
  <div class="row">
    <div class="col-md-7 main-container">
      <h4>Formulario</h4>
      <hr>
      <form [formGroup]="forma" (ngSubmit)="guardarCambios()">

        <div formGroupName="nombrecompleto">

          <div class="form-group row">
            <div class="col-8">

              <input [ngClass]="{'is-invalid': !forma.controls['nombrecompleto'].controls['nombre'].valid}"
                formControlName="nombre" class="form-control is-valid" type="text" placeholder="Nombre">

              <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="form-control-feedback">
                *El Nombre es necesario
              </div>
              <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" class="form-control-feedback">
                *Por lo menos 3 caracteres
              </div>

            </div>
          </div>

          <div class="form-group row">
            <div class="col-8">

              <input [ngClass]="{'is-invalid': !forma.controls['nombrecompleto'].controls['apellido'].valid}"
                formControlName="apellido" class="form-control is-valid" type="text" placeholder="Apellido">
              <div *ngIf="forma.get('nombrecompleto.apellido').errors?.required" class="form-control-feedback">
                *El Apellido es necesario
              </div>
              <div *ngIf="forma.get('nombrecompleto.apellido').errors?.minlength" class="form-control-feedback">
                *Por lo menos 3 caracteres
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['correo'].valid}" formControlName="correo"
              class="form-control is-valid" type="email" placeholder="Correo electrónico">
            <div *ngIf="forma.get('correo').errors?.required" class="form-control-feedback">
              *El Correo es necesario
            </div>
            <div *ngIf="forma.get('correo').errors?.pattern" class="form-control-feedback">
              *Correo invalido
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['username'].valid}" formControlName="username"
              class="form-control is-valid" type="text" placeholder="Nombre de Usuario">
            <div *ngIf="forma.get('username').errors?.required" class="form-control-feedback">
              *El Nombre de Usuario es necesario
            </div>
            <div *ngIf="forma.get('username').errors?.existe" class="form-control-feedback">
              *Este nombre de usuario ya esta registrado
            </div>
            <div *ngIf="forma.status === 'PENDING'" class="form-control-feedback checking">
              Verificando si el usuario existe
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['password1'].valid}"
            formControlName="password1" class="form-control is-valid" type="password" placeholder="Contraseña">
            <div *ngIf="forma.get('password1').errors?.required" class="form-control-feedback">
              *Contraseña obligatoria
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">

            <input [ngClass]="{'is-invalid': !forma.controls['password2'].valid}"
            formControlName="password2" class="form-control is-valid" type="password" placeholder="Repetir Contraseña">
            <div *ngIf="forma.get('password2').errors?.required" class="form-control-feedback">
              *Confirma tu contraseña
            </div>
            <div *ngIf="forma.get('password2').errors?.noiguales && !forma.get('password2').errors?.required" class="form-control-feedback">
              *Las contraseñas no son iguales
            </div>
          </div>
        </div>

        <div class="form-group row center">
          <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary boton" [disabled]="!forma.valid">
              Guardar
            </button>
          </div>
        </div>

        {{forma.valid}}
        <br>
        {{forma.status}}

      </form>
    </div>

    <div class="col-md-1 control">
      
    </div>


    <div class="col main-container example">
      <h2>Verifica tus datos antes de continuar</h2>
      <br>
      <div class="container">

        <h5>Nombre</h5>
        <h3 *ngIf="forma.controls['nombrecompleto'].controls['nombre'].value"> {{forma.controls['nombrecompleto'].controls['nombre'].value | firstLetter}} </h3>
        <br>
        <h5>Apellido</h5>
        <h3 *ngIf="forma.controls['nombrecompleto'].controls['apellido'].value"> {{forma.controls['nombrecompleto'].controls['apellido'].value | firstLetter}} </h3>
        <br>
        <h5 clas>Correo</h5>
        <h3> {{forma.controls['correo'].value}} </h3>
        <br>
        <h5>Nombre de Usuario</h5>
        <h3> {{forma.controls['username'].value}} </h3>
      </div>
    </div>


  </div>
</div>
