
.main-container {
  position: relative;
  z-index: 900;
  margin-top: 40px;
  text-align: center;
  border-style: outset;
  border-color: blue;
}

.main-container input{
    margin: 0 25px 8px;
}
.center {
  padding: 0 40%;
}
.form-control-feedback {
  color: red;
}
.space {
  margin-top: 15px;
  color: #2196f3;
  margin-left: 15px;
}
.btn{
  margin-left: 5px;
}

@media (max-width: 992px){

  .control{
    display: none;
  }
}

