.main-container {
    position: relative;
    z-index: 900;
    margin-top: 20px;
    text-align: center;
    padding: 79px;
    margin-bottom: 20px;
    
  }

.margin-color {
    margin: 20px 0;
    text-align: center;
}

.margin-color h1 {
    margin-top: 20px;
}

.center {
    margin: 10px 0;
    text-align: center;
    color: white;
    background-color: #2196f3;
    font-size: 18px;
}

.btn{
    margin-left: 5px;
}
.form-group select{
    width: 30%;
    display: inline-block;
    margin: 30px 0;
}

.sintomas {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
    margin: 20px;
}
.sintomas p{
        width: 100%;
        height: 100%;
        padding: 10px 0;
        margin-bottom: 0;
}
.option {
    text-align: center;
    color: white;
    font-size: 32px !important;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    width: 20px;
    height: 20px;
    
    margin-top: 6px;
    border: 2px solid white;
}

[type="checkbox"]:checked+span:not(.lever):before {
    width: 16px;
    height: 28px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
}